doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(
      content='initial-scale=1, shrink-to-fit=no, width=device-width',
      name='viewport'
    )
    link(rel='preconnect', href='https://fonts.gstatic.com')
    title #{ pageTitle }
    meta(name='description', content=pageDescription)
    meta(property='og:type', content='website')
    meta(property='og:title', content=pageTitle)
    meta(property='og:description', content=pageDescription)
    meta(property='og:url', content=pageUrl)
    meta(property='og:site_name', content=pageTitle)
    meta(property='og:image', content=`${pageUrl}/images/og.png`)
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content=pageTitle)
    meta(name='twitter:description', content=pageDescription)
    meta(name='twitter:url', content=pageUrl)
    meta(name='twitter:image:src', content=`${pageUrl}/images/og.png`)
    link(rel='icon', type='image/x-icon', href=`${pageUrl}/images/favicon.ico`)
    link(rel='icon', type='image/png', href=`${pageUrl}/images/favicon.png`)
    link(rel='apple-touch-icon', href=`${pageUrl}/images/apple-touch-icon.png`)
    link(rel='mask-icon', href=`${pageUrl}/images/logo.svg`, color='#111111')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono:wght@400;600&display=swap'
    )
    link(rel='canonical', href=pageUrl)
    // prettier-ignore
    script(defer data-cf-beacon='{"token": "ccba8f8122264870957c359fdfe4f626"}' src="https://static.cloudflareinsights.com/beacon.min.js")
    
  body.no-js.order-alphabetically(tabindex='-1')
    header.header
      ul.header__list
        li.header__list-item
          a.header__list-icon(
            title='repository',
            href='https://github.com/developStorm/simple-badges',
            rel='noopener',
            target='_blank'
          )
            svg(
              role='img',
              viewBox='0 0 24 24',
              xmlns='http://www.w3.org/2000/svg'
            )
              path(
                d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'
              )
        li.header__list-item 
          a.header__list-icon(
            title='SimpleIcons',
            href='https://simpleicons.org/',
            rel='noopener',
            target='_blank'
          )
            svg(
              role='img',
              viewBox='0 0 24 24',
              xmlns='http://www.w3.org/2000/svg'
            )
              path(
                d='M12 0C8.688 0 6 2.688 6 6s2.688 6 6 6c1.066 0 2.1171.2862 3.0371.8262 2.858 1.678 3.8167 5.3539 2.1387 8.2129h1.6797a7.4925 7.4925 0 0 0 .6425-3.0293c.003-4.144-3.356-7.5048-7.498-7.5098-2.484 0-4.5-2.016-4.5-4.5S9.516 1.5 12 1.5s4.5 2.016 4.5 4.5H18c0-3.312-2.688-6-6-6zm0 3c-1.597.04-2.8799 1.3259-2.9219 2.9219C9.0351 7.5799 10.343 8.957 12 9c1.597-.04 2.8799-1.3259 2.9219-2.9219C14.9649 4.4201 13.656 3.043 12 3zm0 1.5c.828 0 1.5.672 1.5 1.5v.002c0 .828-.672 1.5-1.5 1.5-.83 0-1.5-.673-1.5-1.502 0-.83.67-1.5 1.5-1.5zM7.5 15v1.5H9v6H4.5V24h15v-1.5H15v-6h1.5V15h-9zm3 1.5h3v6h-3v-6zm-6 1.4707V18a7.418 7.418 0 0 0 .6445 3.039h1.6836C6.3001 20.147 6 19.11 6 18v-.0293H4.5Z'
              )
        li.header__list-item
          a.header__list-icon(
            title='Shields.io',
            href='https://shields.io/',
            rel='noopener',
            target='_blank'
          )
            svg(
              role='img',
              viewBox='0 0 24 24',
              xmlns='http://www.w3.org/2000/svg'
            )
              path(
                d='M3.084 13.11a.93.93 0 01-.187-.548l.347-.03c.013.254.183.5.434.572.295.108.65.096.916-.08.18-.137.226-.446.04-.597-.19-.16-.447-.182-.676-.25-.284-.068-.596-.137-.802-.36a.686.686 0 01.036-.903c.247-.256.633-.309.972-.275.298.03.613.162.758.44.051.11.132.272.08.377-.109.02-.22.018-.33.03-.01-.253-.21-.494-.468-.514-.23-.038-.488-.03-.69.098-.17.12-.224.407-.046.544.155.123.359.146.543.2.322.075.679.135.92.382.243.265.23.708-.01.971-.244.281-.643.36-.998.329-.314-.018-.645-.124-.839-.386zm2.827.343v-.746c.006-.217-.018-.438.032-.652.065-.288.415-.433.68-.336.167.054.24.235.243.398.004.446 0 .891.001 1.337h.341v-.907c-.006-.245.021-.493-.04-.732-.058-.247-.307-.394-.547-.413a.787.787 0 00-.71.271v-.996h-.34v2.777h.34zm2.161-2.776h-.341v.392h.341v-.392zm0 .765h-.341v2.012h.341v-2.012zm.451 1.382c-.102-.401-.049-.883.255-1.186.373-.364 1.054-.318 1.362.108.166.224.203.517.19.789h-1.5c-.016.35.276.727.649.686a.56.56 0 00.49-.415l.353.043c-.085.42-.527.7-.943.653-.392-.008-.78-.282-.856-.678zm.327-.57h1.123c.016-.336-.317-.657-.657-.57a.584.584 0 00-.466.57zm2.235-1.577h-.34v2.777h.34v-2.777zm1.835 2.777zm-1.403-.736c-.062-.335-.015-.7.168-.99.226-.328.723-.442 1.056-.211.051.028.124.139.157.123v-.963h.338v2.776h-.316V13.2c-.171.296-.579.371-.877.236-.288-.124-.481-.413-.526-.718zm.325-.268c-.009.272.078.589.339.721a.496.496 0 00.665-.259c.109-.242.09-.518.047-.773-.052-.237-.248-.461-.504-.461a.513.513 0 00-.497.385c-.04.125-.048.257-.05.387zm2.14.942c.16.082.344.107.522.108.256-.004.535-.08.692-.297.161-.209.156-.544-.048-.723-.181-.135-.41-.176-.623-.238-.136-.05-.29-.057-.411-.142-.104-.062-.114-.213-.038-.301.11-.118.286-.129.437-.12.187-.007.372.137.387.328l.333-.046a.748.748 0 00-.102-.289c-.12-.178-.346-.247-.55-.269-.252-.023-.536.011-.727.194a.526.526 0 00.012.762c.185.136.418.18.635.24.13.043.276.054.386.141.114.093.079.274-.02.365-.134.118-.33.129-.499.103-.209-.014-.377-.203-.392-.408l-.337.054v-.001c.03.217.15.429.344.539zm7.102-2.284c-.46-.341-1.219-.134-1.405.417a1.861 1.861 0 00-.082.582c-.046.518.35 1.072.894 1.085.46.027.916-.322.97-.788.095-.452.016-1.005-.377-1.296zM24 9.938v4.122c0 .575-.337 1.072-.823 1.308a.963.963 0 01-.51.146h-6.138l-.041.002c-.02 0-.041 0-.062-.002H1.455A1.456 1.456 0 010 14.06V9.938c0-.802.652-1.454 1.455-1.454H22.667c.187 0 .362.054.51.146.486.236.823.733.823 1.308zm-7.03-.484H1.455a.485.485 0 00-.485.484v4.122c0 .267.217.484.485.484H16.48a.485.485 0 00.489-.445V9.454zm1.714 1.223h-.368v2.777h.368v-2.777zm3.022.642c-.273-.594-1.04-.83-1.633-.618-.572.19-.888.823-.855 1.4 0 .272.07.543.204.78.396.718 1.518.836 2.07.236.443-.474.489-1.227.214-1.798z'
              )
        li.header__list-item
          a.header__list-icon(
            title='Legal disclaimer',
            href='https://github.com/simple-icons/simple-icons/blob/master/DISCLAIMER.md',
            rel='noopener',
            target='_blank'
          )
            svg(
              role='img',
              viewBox='0 0 24 24',
              xmlns='http://www.w3.org/2000/svg'
            )
              path(
                d='m23.9 9.7-3.54-7.89-3.2e-4 -6.41e-4 -0.0046-0.0102c-0.0119-0.0264-0.026-0.0512-0.0415-0.0748-0.0042-0.0064-0.0092-0.0122-0.0136-0.0183-0.014-0.0194-0.029-0.0377-0.0453-0.0549-0.0064-0.0067-0.0129-0.0134-0.0196-0.0198-0.0179-0.017-0.0368-0.0327-0.0569-0.047-0.0052-0.0038-0.01-0.0081-0.0155-0.0118-0.0252-0.0167-0.0519-0.031-0.0797-0.0432-0.0079-0.0035-0.0161-0.0061-0.0242-0.0092-0.0218-0.0083-0.0439-0.0153-0.0668-0.0207-0.0094-0.0022-0.0187-0.0045-0.0282-0.0062-0.0313-0.0058-0.0631-0.0096-0.0957-0.0096h-6.85c-1.02-1.52-1.02-1.54-2 1.06e-4h-6.86c-0.0326 0-0.0643 4e-3 -0.0957 0.0096-0.00961 0.0017-0.0188 4e-3 -0.0282 0.0062-0.0229 0.0054-0.0451 0.0124-0.0667 0.0207-0.00812 0.0031-0.0163 0.0057-0.0242 0.0092-0.0278 0.0123-0.0545 0.0265-0.0797 0.0432-0.00545 0.0036-0.0103 0.0079-0.0155 0.0118-0.0201 0.0143-0.039 0.0299-0.0569 0.047-0.00684 0.0064-0.0132 0.013-0.0198 0.0198-0.0163 0.0172-0.0313 0.0356-0.0453 0.0549-0.00449 0.0062-0.0094 0.012-0.0136 0.0183-0.0156 0.0236-0.0297 0.0484-0.0415 0.0748l-0.00459 0.0102-3.2e-4 6.4e-4 -3.55 7.91c-0.06 0.0864-0.0958 0.191-0.0958 0.304 0 2.28 1.86 4.14 4.14 4.14s4.14-1.86 4.14-4.14c0-0.113-0.0357-0.218-0.0958-0.304l-3.25-6.37 6.07-0.0229v18.2c-2.55 0.294-7.01 0.381-7 2.5h16c-0.0011-2.03-4.48-2.27-7-2.5v-18.1l5.69-0.0206-2.92 6.49c-8.55e-4 0.0019-0.0013 0.0038-0.0021 0.0058-0.0025 0.0058-0.0043 0.0118-0.0066 0.0176-0.0096 0.0245-0.0173 0.0494-0.0232 0.0746-0.0015 0.0066-0.0034 0.013-0.0047 0.0196-0.0059 0.0306-0.0089 0.0615-0.0093 0.0925 0 0.0029-8.54e-4 0.0054-8.54e-4 0.0083 0 2.28 1.86 4.14 4.14 4.14 2.28 0 4.14-1.86 4.14-4.14 0-0.126-0.0457-0.241-0.119-0.332z'
              )
      h1.header__title Simple Badges
      p.header__description #{ iconCount } awesome #[a(href='https://simpleicons.org/', rel='noopener', target='_blank') Simple Icons] on your favorite #[a(href='https://shields.io/', rel='noopener', target='_blank') Shields.io] Badges

    .sticky-header-shadow(aria-hidden='true')

    main.main
      .control
        noscript Controls are only available when JavaScript is enabled.
        .control-field.search
          label.control-field__title(for='search-input') Search
          .search__wrapper
            #search-clear.hidden(aria-hidden='true') &times;
            input#search-input.control__input(
              type='search',
              placeholder='Search by brand...',
              disabled
            )
        .control-field
          label.control-field__title Order
          .control-field__row
            button#order-alpha.control__button.first__button(
              title='Sort alphabetically',
              disabled
            )
              svg(
                role='img',
                viewBox='0 0 24 24',
                xmlns='http://www.w3.org/2000/svg',
                aria-labelledby='order-alpha'
              )
                path(
                  d='M10.096 18.857H7.525V.429A.414.414 0 0 0 7.096 0H4.525a.414.414 0 0 0-.429.429v18.429H1.525c-.196 0-.331.089-.402.268-.072.17-.04.326.094.469l4.286 4.286c.098.079.2.119.308.119.116 0 .219-.04.308-.12l4.272-4.272a.506.506 0 0 0 .134-.321.414.414 0 0 0-.429-.43zm10.006 3.617H16.78c-.188 0-.322.009-.402.026l-.188.026V22.5l.148-.147c.133-.16.227-.276.281-.348l4.941-7.099v-1.191h-7.594v3.066h1.607v-1.54h3.107c.16 0 .295-.014.4-.04a.856.856 0 0 0 .102-.007c.039-.004.068-.007.086-.007v.04l-.146.121c-.08.08-.176.2-.281.361L13.9 22.795V24h7.82v-3.12h-1.619v1.594h.001zm1.875-13.608L18.895 0h-2.168l-3.082 8.866h-.936v1.419h3.842V8.866h-1.004l.631-1.929h3.254l.629 1.929h-1.004v1.419h3.857V8.866h-.937zm-5.358-3.402l.977-2.92c.037-.107.07-.236.102-.388s.047-.232.047-.241l.039-.268h.055c0 .036.008.125.025.268l.162.629.963 2.92h-2.37z'
                )
            button#order-color.control__button.last__button(
              title='Sort by color',
              disabled
            )
              svg(
                role='img',
                viewBox='0 0 24 24',
                xmlns='http://www.w3.org/2000/svg',
                aria-labelledby='order-color'
              )
                path(
                  d='M9.219 18.857H6.648V.429A.414.414 0 0 0 6.219 0H3.648a.418.418 0 0 0-.308.121.418.418 0 0 0-.121.308v18.428H.648a.4.4 0 0 0-.402.268c-.071.17-.04.326.094.469l4.286 4.287c.098.08.2.119.308.119a.447.447 0 0 0 .308-.119l4.272-4.273a.506.506 0 0 0 .134-.32.417.417 0 0 0-.429-.431zm3-15.428h3.429A.412.412 0 0 0 16.076 3V.429A.416.416 0 0 0 15.648 0h-3.429a.414.414 0 0 0-.429.429V3a.414.414 0 0 0 .429.429zm0 6.857h6a.42.42 0 0 0 .309-.12.42.42 0 0 0 .121-.308V7.286a.418.418 0 0 0-.121-.308.417.417 0 0 0-.309-.121h-6a.414.414 0 0 0-.308.121.417.417 0 0 0-.12.308v2.572c0 .125.04.228.12.308a.42.42 0 0 0 .308.12zm0 6.857h8.572c.125 0 .229-.039.309-.119s.119-.184.119-.309v-2.572c0-.125-.039-.227-.119-.307s-.184-.121-.309-.121h-8.572a.418.418 0 0 0-.308.121.415.415 0 0 0-.12.307v2.572c0 .125.04.229.12.309.081.08.183.119.308.119zm11.451 3.55a.408.408 0 0 0-.307-.121H12.219a.416.416 0 0 0-.429.428v2.572c0 .125.04.227.121.309a.42.42 0 0 0 .308.119h11.144a.414.414 0 0 0 .307-.119.424.424 0 0 0 .121-.309V21a.416.416 0 0 0-.121-.307z'
                )
            button#order-relevance.control__button.hidden(
              title='Sort by relevance',
              aria-hidden,
              disabled
            )
              svg(
                role='img',
                viewBox='0 0 24 24',
                xmlns='http://www.w3.org/2000/svg',
                aria-labelledby='order-relevance'
              )
                path(
                  d='M9.219 18.857H6.648V.429A.414.414 0 0 0 6.25 0H3.648a.416.416 0 0 0-.429.429v18.428H.648a.397.397 0 0 0-.402.268c-.071.17-.04.326.094.469l4.286 4.287c.098.08.2.119.308.119a.446.446 0 0 0 .308-.119l4.272-4.273a.5.5 0 0 0 .134-.318.418.418 0 0 0-.402-.432l-.027-.001zM22.971 4.984a.817.817 0 0 0 .207-.843.822.822 0 0 0-.666-.561l-2.777-.403a.366.366 0 0 1-.274-.199L18.22.459A.818.818 0 0 0 17.479 0a.816.816 0 0 0-.737.458l-1.243 2.519a.362.362 0 0 1-.273.199l-2.781.404a.816.816 0 0 0-.665.56.815.815 0 0 0 .207.843l2.012 1.96a.364.364 0 0 1 .104.322l-.475 2.769a.802.802 0 0 0 .18.667.832.832 0 0 0 1.016.201l2.486-1.307a.369.369 0 0 1 .339 0l2.485 1.307a.815.815 0 0 0 1.017-.2.811.811 0 0 0 .18-.667l-.475-2.768a.366.366 0 0 1 .104-.322l2.011-1.961zm-.005 13a.825.825 0 0 0-.457-1.405l-2.777-.404a.366.366 0 0 1-.274-.199l-1.241-2.518a.82.82 0 0 0-1.476 0l-1.242 2.518a.362.362 0 0 1-.275.199l-2.775.404a.816.816 0 0 0-.666.561.819.819 0 0 0 .207.844l2.011 1.961a.36.36 0 0 1 .104.322l-.475 2.769a.813.813 0 0 0 .328.806.82.82 0 0 0 .865.063l2.484-1.307a.367.367 0 0 1 .341 0l2.485 1.307a.822.822 0 0 0 1.193-.869l-.478-2.769a.371.371 0 0 1 .104-.322l2.014-1.961zm-2.092 5.131a.355.355 0 0 1-.145.354.356.356 0 0 1-.385.029l-2.487-1.309a.817.817 0 0 0-.767.002l-2.485 1.307a.353.353 0 0 1-.382-.029.354.354 0 0 1-.146-.354l.479-2.77a.83.83 0 0 0-.236-.729l-2.014-1.96a.35.35 0 0 1-.092-.371.36.36 0 0 1 .295-.249l2.778-.403a.815.815 0 0 0 .618-.448l1.242-2.521a.357.357 0 0 1 .326-.202c.144 0 .265.075.328.202l1.242 2.521c.117.241.35.41.617.448l2.78.403c.14.021.249.113.292.249a.35.35 0 0 1-.092.371l-2.01 1.96a.827.827 0 0 0-.235.729l.479 2.77z'
                )
        .control-field
          label.control-field__title Copy as
          .control-field__row
            button#copy-as-markdown.control__button.copy-control-active.first__button(
              title='Copy as Markdown',
              disabled
            )
              svg(
                role='img',
                viewBox='0 0 24 24',
                xmlns='http://www.w3.org/2000/svg',
                aria-labelledby='copy-as-markdown'
              )
                path(
                  d='M22.27 19.385H1.73A1.73 1.73 0 010 17.655V6.345a1.73 1.73 0 011.73-1.73h20.54A1.73 1.73 0 0124 6.345v11.308a1.73 1.73 0 01-1.73 1.731zM5.769 15.923v-4.5l2.308 2.885 2.307-2.885v4.5h2.308V8.078h-2.308l-2.307 2.885-2.308-2.885H3.46v7.847zM21.232 12h-2.309V8.077h-2.307V12h-2.308l3.461 4.039z'
                )
            button#copy-as-html.control__button(
              title='Copy as HTML image tag',
              disabled
            )
              svg(
                role='img',
                viewBox='0 0 16 16',
                xmlns='http://www.w3.org/2000/svg',
                aria-labelledby='copy-as-html'
              )
                path(
                  d='M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z'
                )
            button#copy-as-link.control__button.last__button(
              title='Copy as plain link',
              disabled
            )
              svg(
                role='img',
                viewBox='0 0 16 16',
                xmlns='http://www.w3.org/2000/svg',
                aria-labelledby='copy-as-link'
              )
                path(
                  d='M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z'
                )
                path(
                  d='M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z'
                )

      ul.grid
        li.grid-item--if-empty.hidden(aria-hidden='true')
          p Icon missing? #[a(href='https://github.com/simple-icons/simple-icons/issues/new?labels=new+icon&template=icon_request.yml&title=Request%3A+', rel='noopener', target='_blank') Submit a request]

        each icon in icons
          li.grid-item(
            style=`--order-color: ${icon.indexByColor}`,
            data-brand=`${icon.normalizedName}`,
            data-title=`${icon.title}`,
            data-encoded_title=`${icon.badgeEncodedTitle}`,
            data-color=`${icon.shortHex}`,
            data-logo_color=`${icon.superLight ? '000' : 'fff'}`,
            data-slug=`${icon.slug}`
          )
            .grid-item__row.mv-2.fg-2
              button.grid-item__preview.copy-button.copy-svg(
                title=`${icon.title} SVG`,
                data-style='for-the-badge',
                disabled
              )
                img.icon-preview(
                  src=`https://img.shields.io/badge/${icon.badgeEncodedTitle}-${icon.shortHex}?logo=${icon.slug}&logoColor=${icon.superLight ? '000' : 'fff'}&style=for-the-badge`,
                  loading='lazy',
                  alt=`${icon.title} badge`
                )
            .grid-item__row
              if icon.guidelines
                a.grid-item__link.link-button(
                  title=`${icon.title} guidelines`,
                  href=icon.guidelines,
                  rel='noopener',
                  target='_blank'
                ) Brand Guidelines
              if icon.license
                a.grid-item__link.link-button.icon-legal(
                  title=`${icon.title} icon license`,
                  href=icon.license.url,
                  rel='noopener',
                  target='_blank'
                ) #{ icon.license.type }
              h2.grid-item__title #{ icon.title }
            .grid-item__footer
              button.grid-item__color.copy-button.copy-color(
                title=`${icon.title} Flat Badge`,
                data-style='flat',
                disabled
              ) Flat
              button.grid-item__color.copy-button.copy-color(
                title=`${icon.title} Square Badge`,
                data-style='flat-square',
                disabled
              ) Square
              button.grid-item__color.copy-button.copy-color(
                title=`${icon.title} Plastic Badge`,
                data-style='plastic',
                disabled
              ) Plastic

    footer.footer
      .footer-description
        p.
          Simple Icons is a project collects SVG icons for popular brands.
        p.
          Shields.io is a service generates concise, consistent, and legible badges.
        p.
          Simple Badges (this project) is a page helps you to use both of the above services jointly.
      a.footer-share(
        rel='noopener',
        role='button',
        target='_blank',
        href='https://twitter.com/intent/tweet?url=https://github.com/developStorm/simple-badges&text=Awesome%20Simple%20Icons%20on%20your%20favorite%20Shields%20IO%20Badges.'
      )
        svg.footer-share--icon(
          role='img',
          viewBox='0 0 24 24',
          xmlns='http://www.w3.org/2000/svg'
        )
          title Twitter logo
          path(d=twitterIcon.path)
        span Share this on Twitter!

    input#copy-input.hidden(aria-hidden='true', tabindex='-1')
